/* General Styles */
body {
  font-family: "Lato", sans-serif;
  background-image: url("/Photos/tech.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

/* Header Styles */
header {
  position: relative;
  text-align: center;
  color: white;
}

header .w3-image {
  opacity: 0.8;
}

.w3-wide {
  letter-spacing: 10px;
}

.w3-hover-opacity:hover {
  opacity: 0.8;
}

/* Navbar Styles */
.w3-bar {
  letter-spacing: 5px;
}

/* Responsive Adjustments */
@media only screen and (max-width: 600px) {
  .w3-bar-item {
    display: block;
    width: 100%;
  }
}

/* Button Styles */
.w3-button {
  background-color: #333;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.w3-button:hover {
  background-color: #555;
}

/* Gallery Styles */
.gallery-container img {
  width: 100%;
  height: auto;
  margin-bottom: 16px;
}

/* Contact Styles */
.contact {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 8px;
}

/* Services Section Styles */
#services .w3-card-4 {
  transition: transform 0.3s;
}

#services .w3-card-4:hover {
  transform: scale(1.05);
}
